@model List<proyecto0205.Models.Pelicula>

@{
    ViewBag.Title = "About";
}
<div>Mostrando @Model.Count  peliculas</div>

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<table class="table-bordered table-striped">
    <thead>
        <tr>
            <th>Titulo</th>
            <th>Duracion</th>
            <th>Pais</th>
            <th>Publicacion</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var peli in Model) {
            <tr>
                <td>@peli.Titulo</td>
                <td>@peli.Duracion</td>
                <td>@peli.Pais</td>
                <td>@peli.Publicacion</td>
            </tr>
        }
    </tbody>
</table>
